<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - First Screen ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div  class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("First Screen", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="bodyDiv" class="container body-content" style="height:400px; overflow:scroll">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajaxSetup({ cache: false });  //Turn off caching

        setInterval(function () {
            var url = "@(Html.Raw(Url.Action("GetMessages", "Home")))";
            $.get(url +'?type=@ViewBag.Type', function (data, status) {
                if (data.Number != '-1') {
                    $('#bodyDiv').append('<p style=color:@ViewBag.Type>' + data.Number + '</p>');
                }
            });
        }, 100);


    });
    </script>
</body>
</html>
